In [1]:

import csv
import pandas as pd
from scipy.stats import ttest_ind, norm

filename = 'machine2.txt'  # Replace 'data.txt' with your file name
encoding = 'cp1252'  # Replace 'cp1252' with the actual encoding of your file

# Open the file in binary mode
with open(filename, 'rb') as file:
    # Read the file content as bytes
    content = file.read()

# Remove null characters from the content
content = content.replace(b'\x00', b'')

# Decode the content as text using the specified encoding
decoded_content = content.decode(encoding)

# Split the content into lines
lines = decoded_content.splitlines()

# Extract the headers (first row)
headers = lines[0].split('\t')

# Create a CSV reader object, skipping the first row
reader = csv.reader(lines[1:], delimiter='\t')  # Assuming tab-separated values

# Read the file contents and store them as a list of rows
rows = list(reader)

# Convert the rows to a DataFrame with headers
data = pd.DataFrame(rows, columns=headers)

# Print the DataFrame
data.head(10)

  ÿþNew machine   Old machine
0          42.1          42.7
1            41          43.6
2          41.3          43.8
3          41.8          43.3
4          42.4          42.5
5          42.8          43.5
6          43.2          43.1
7          42.3          41.7
8          41.8            44
9          42.7          44.1

In [2]:
column_mapping = {
    'ÿþNew machine': 'new_machine',
    'Old machine': 'old_machine',
}

data = data.rename(columns=column_mapping)
data

  new_machine   old_machine
0        42.1          42.7
1          41          43.6
2        41.3          43.8
3        41.8          43.3
4        42.4          42.5
5        42.8          43.5
6        43.2          43.1
7        42.3          41.7
8        41.8            44
9        42.7          44.1

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   new_machine  10 non-null     object
 1   old_machine  10 non-null     object
dtypes: object(2)
memory usage: 288.0+ bytes

In [19]:
data["new_machine"] = data["new_machine"].astype(float)
data["old_machine"] = data["old_machine"].astype(float)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   new_machine  10 non-null     float64
 1   old_machine  10 non-null     float64
dtypes: float64(2)
memory usage: 288.0 bytes

In [21]:
old_machine = list(data['old_machine'])
new_machine = list(data['new_machine'])
print(f'Old Machine: {old_machine}\nNew_machine: {new_machine}')

Old Machine: [42.7, 43.6, 43.8, 43.3, 42.5, 43.5, 43.1, 41.7, 44.0, 44.1]
New_machine: [42.1, 41.0, 41.3, 41.8, 42.4, 42.8, 43.2, 42.3, 41.8, 42.7]

In [22]:
ttest_ind(old_machine, new_machine)

Ttest_indResult(statistic=3.3972307061176026, pvalue=0.0032111425007745158)

In [ ]:
# dof = 18 (10-1) + (10-1)
# one tail - critical value for p < 0.05 = 1.734
# based on this we can reject null hypothesis